* {
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 0;
    align-items: center;
    justify-items: center;
    padding: 100px;
    font-size: 35px;
    font-style: italic;


}
.middle h2{
    text-align: center;
    align-items: center;
    padding: 50px;
    font-size: 50px;
    font-family: elephant;
    background-color: aqua;
    
}
.cycle{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: purple;
}
.two{
    padding: 60px;
    font-size: 40px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 50px;
}

